/**********************************
GENERAL
 **********************************/

body {
	background-color: #f7f7f7;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}



/**********************************
HEADING
 **********************************/

.heading {
	width: 100%;
	height: 49px;
	background-color: #d8d8d8;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 50px;
}

header {
	display: block;
	width: 798px;
	margin-left: auto;
	margin-right: auto;
}

.note {
	font-weight: 400;
	float: left;
	font-size: 20px;
	width: 140px;
	line-height: 49px;
	padding-left: 1px;
	color: #2e2e2e;
}

.icon-quill {
	color: #3b3b3b;
	font-size: 30px;
	vertical-align: middle;
	margin-right: 20px;
}



/**********************************
NAVIGATION
 **********************************/

nav {
	float: left;
}

nav ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

nav li {
	display: inline-block;
	line-height: 49px;
	padding-left: 15px;
	padding-right: 15px;
}

nav a {
	color: #2e2e2e;
	font-size: 16px;
	font-weight: 300;
	display: inline;
	color: #575757;
}

.icon {
	margin-right: 10px; /* for the distance between the icon and the text s*/
}

.selected {
	height: 50px;
	background-color: #f7f7f7;
	border-bottom: none;
}

.selected a {
	color: #2e2e2e;
}

.nav-photo {
	display: inline-block;
	margin-top: 7px;
  	float: right;
  	width: 35px;
  	border-radius: 100%;
}



/*************************************
twitter message
**************************************/

.tweet {
	float: left;
	overflow:hidden;
	background-color: #ffffff; 
	border: 1px solid #d8d8d8;
	max-width: 750px;
	border-radius: 4px;
	margin: 0 auto 25px;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	font-family: "Helvetica Neue";
	font-weight: 300;
}

.left_photo {
	float: left;
	margin-right: 25px;
}

.right_text{
	width: 648px;
	float:left;
	font-size: 16px;
}

.profile-photo {
  	display: block;
  	float: left;
  	width: 75px;
  	border-radius: 100%;
}

.twitterer {
	float: left;
	margin: 0;
	color: #343434;
	font-weight: 400;
}

.at_message {
	float: left;
	clear: right;
	padding-left: 5px;
	margin: 0;
	color: #808080;
}

.twitter_message {
	display: inline-block;
	float: left;
	clear: both;
	color: #595959;
	margin-top: 25px;
	margin-bottom: 25px;
}

/* function links */

.function_links {
	float: left;
	clear: both;
}

.function_links ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.function_links li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

.function_links a {
	color: #2e2e2e;
	font-size: 14px;
	font-weight: 300;
	display: inline;
	color: #808080;
}

.icon-func {
	margin-right: 10px; /* for the distance between the icon and the text s*/
}

.function_links .reply-func { /* if no .function_links, it doesn't work */
	padding-left: 0;
}



/*************************************
posts
**************************************/

.posts {
	margin-top: 25px;
}

.post {
	overflow:hidden;
	background-color: #ffffff; 
	border: 1px solid #d8d8d8;
	max-width: 750px;
	border-radius: 4px;
	margin: 35px auto 0;
	margin-top: 0px;
	padding: 25px;
	font-family: "Helvetica Neue";
	font-weight: 300;
}

.post_message {
	margin-bottom: 0px;
}

.top {
	border-radius: 4px 4px 0 0;
	border-bottom: 0px;
}

.middle {
	border-radius: 0 0 0 0;
	border-bottom: 0px;
}

.last {
	border-radius: 0 0 4px 4px;
}



/*************************************
leave a message
**************************************/

.new_post{
	margin-top: 25px;
	margin-bottom: 25px;
}

.leave_a_message {
	width: 648px;
	min-height: 65px;
	margin-top: 0;
	margin-bottom: 25px;
	padding: 0;
	font-size: 16px;
}

.reply {
	width: 150px;
	height: 45px;
	background-color: #f7f7f7;
	border: 1px solid #d8d8d8;
	border-radius: 4px;
	color: #595959;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 300;
}

.from {
	padding-bottom: 0px;
}

.form textarea {
	background: #f7f7f7;
	outline: none;
	color: #595959;
	width: 648px;
	padding-top: 10px;
	padding-left: 10px;
}

::-webkit-input-placeholder {
	color: #959595;
	font-size: 16px;
	font-weight: 300;
}



/*******************************
previous and next
*********************************/

.pager{
	display: block;
	clear: left;
	list-style: none;
	margin: 25px 0 147px;
	padding-left: 0;
}
.pager li{
	display: inline-block;
	line-height: 42px;
	text-align: center;
	border-radius: 21px;
	background-color: #f9faf9;
	height: 40px;
	width: 125px;
	border: 1px solid #cccccc;
}
.pager li:first-child{
	float:left;

}
.pager li:last-child{
	float:right;
}

.pre_and_next {
	display: block;
	margin-top: 25px;
	margin-bottom: 147px;
	clear: left;
}

.pre_and_next ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.pre_and_next li {
	display: inline-block;
	line-height: 42px;
	text-align: center;
	border-radius: 21px;
	background-color: #f9faf9;
}

.paging {
	height: 40px;
	width: 125px;
	border: 1px solid #cccccc;
}

.prev {
	float: left;
}

.next {
	float: right;
}

.pre_and_next a {
	color: #8d8d8d;
	font-size: 16px;
	font-weight: 300;
	display: inline;
}

.icon-previous2 {
	margin-right: 10px;
    vertical-align: text-bottom;
}

.icon-next2 {
	margin-left: 10px;
    vertical-align: text-bottom; /* to let the >> icon align with text by bottom*/
}



/*******************************
SignUp form
********************************/
.content {
	overflow:hidden;
	background-color: #ffffff; 
	border: 1px solid #d8d8d8;
	max-width: 750px;
	border-radius: 4px;
	margin: 35px auto 0;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	font-family: "Helvetica Neue";
	font-weight: 300;
}

.form_title {
	height: 75px;
	line-height: 75px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 300px;
	font-size: 36px;
	color: #3b3b3b;
	font: Helvetica Neue;
	margin-bottom: 0px;
}

.register_success_notification {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	font-weight: 200;
	color: #616161;
}

.below_form_title {
	height: 65px;
	margin-left: 300px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 200;
	color: #616161;
}

.error_message {
	width: 500px;
	height: 47px;
	line-height: 47px;
	padding-left: 10px;
	border: 1px solid #00adef;
	background: #90daf9;
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	margin:0 auto 16px;
}

.form_wrapper_left_and_right {
	height: 500px;
	padding-top: 0px;
	padding-left: 100px;
	padding-right: 25px;
}

.left_indication_text {
	float: left;
	width: 175px;

	margin-right: 25px;
}

.user_input {
	margin: 0;
	line-height: 44px;
	margin-bottom: 18px;
	font-size: 16px;
	color: #494949;
	text-align: right;
	font-weight: 500;
}

.right_form_wrapper {
	width: 325px;
	float: left;
}

.right_form_wrapper h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: #3b3b3b;
    font-size: 36px;
    font-weight: 500;
    line-height: 75px;
}

.right_form_wrapper p {
	margin-top: 0;
	margin-bottom: 0;
	height: 65px;
	color: #616161;
	font-size: 18px;
	font-weight: 400;
}

.right_form_wrapper input[type="email"],
.right_form_wrapper input[type="password"],
.right_form_wrapper input[type="conform_password"],
.right_form_wrapper input[type="text"] {
	display: block;
	height: 40px;
	width: 320px;
	border: 1px solid #d9d8d8;
	border-radius: 4px;
	background-color: #f7f7f7;
	margin-bottom: 18px;
	padding-left: 10px;
	color: #494949;
}

.right_form_wrapper button {
	height: 44px;
	width: 148px;
	border: 1px solid #c6c5c5;
	border-radius: 4px;
	background-color: #e8e8e8;
	font-size: 16px;
	color: #808080;
	font-weight: 400;
}

.icon-reply-button {
	padding-right: 10px;
}

.pre_and_next_signUp {
	height: 42px;
	margin-top: 145px;
	margin-bottom: 80px;
}



/*
follow
*/
.follow
{
	float: right;
	margin-bottom: 10px;
}

.follow_submit
{
	height: 30px;
	width: 150px;
	border: 1px solid #d9d8d8;
	border-radius: 4px;
	background-color: #ffffff;
	margin-bottom: 18px;
	padding-left: 10px;
	color: #494949;
}



/* 
signature
*/
.write_a_signature 
{	width: 648px;
	min-height: 65px;
	margin-top: 0;
	margin-bottom: 25px;
	padding: 0;
	font-size: 16px;
}

.no_post
{
	margin: auto;
	clear: both;
	width: 500px;
	height: 30px;
	border: 1px solid blue;
	line-height: 30px;
	padding-left: 5px;
}

.follow_who
{
	float: right;
}
