/**********************************
GENERAL
 **********************************/
body {
	background-color: #f5f8fa;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
}

.below_heading
{
	width: 100%;
}

.wrapper {
	width: 70%;
  	max-width: 800px;
  	margin: 90px auto 0;
}

a {
  text-decoration: none;
}

.icon-quill {
	color: #3b3b3b;
	font-size: 32px;
	vertical-align: middle;
	margin-right: 20px;
}



/**********************************
HEADING
 **********************************/

header {
	width: 100%;
	height: 46px;
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	position: fixed;
	left: 0;
	top: 0;
}

.container {
	max-width: 1190px;
	margin: 0 auto;
}

.nav {
	float: left;
}
.nav ul {
	display: block;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav li {
	display: block;
	float: left;
}

.nav a {
	display:block;
	height: 46px;
	float: left;
}

.icon-home3, .icon-heart
{
	display: block;
	float:left;
	width: 23px;
	height: 23px;
	font-size: 21px;
	font-weight: 500;
	margin-top: 15px;
	margin-right: 3px;
	color: LightSlateGray;
	color: RoyalBlue;
	color: SteelBlue;
}

.text_home, .text_heart {
	display: block;
	float: left;
	height: 13px;
	font-size: 13px;
	margin-top: 19px;
	margin-right: 30px;
	color: LightSlateGray;
	color: RoyalBlue;
	color:SteelBlue;
}

header h1
{
	position: absolute;
	left: 50%;
	margin-left: -16px;	
}

.icon_header_center {
	line-height: 46px;
	color: DeepSkyBlue;
	font-size: 25px;
	margin: 0;
}

.text {
	display: inline-block;
	float:left;
	font-size: 13px;
	font-weight: 500;
	color: #575757;
}

.global_logo_wrapper
{
	display: inline-block;
	background-color: red;
}

.header_right
{
	float: right;
	height: 46px;
}

.global_search_form {
	display: block;
	float: left;
	margin-top: 7px;
	margin-right: 10px;
}

.global_search_input {
	display: block;
	float: left;
	border: 1px solid #e1e8ed;
	height: 19px;
	width: 132px;
	outline: none;
	border-radius: 21px;
	background-color: #f5f8fa;
	padding: 5px 0px 6px 12px;
	margin: 0;
	font-size: 12px;
	margin-right: 10px;
}

.global_search_submit {
	background-color: #f5f8fa;
	display: block;
	float: left;
	height: 32px;
	border-radius: 5px;
	border: 1px solid #e1e8ed;
	padding: 0 5px;
	color: SlateGray;
}

.global_profile_img {
  	width: 32px;
  	height: 32px;
	border-radius: 5px;
	display: block;
	float: left;
	margin: 7px 0;
	margin-right: 10px;
}

.global_tweet{
	display: block;
	float: left;
	margin-top: 7px;
}

.global_tweet_button 
{
	height: 32px;
	background: #0084B4;
	color: white;
	border: 1px solid transparent;
	border-radius: 5px;
	padding-left: 13px;
	padding-right: 13px;
}

.icon-compose {
	display: block;
	float: left;
	height: 23px;
	width: 23px;
	font-size: 21px;
	font-weight: 500;
	padding-right: 3px;
	margin-top: 2px;
}

.text_tweet {
	display: block;
	float: left;	
	height: 13px;
	font-size: 13px;
	font-weight: 500;
	margin-top: 6px;
}



/*************************************
page ouer
**************************************/
.page_container
{
	width: 1190px;
	height: 300px;
	margin: 0 auto;
	padding: 56px 14px 15px;
}



/*************************************
profile
**************************************/
.profile
{
	box-sizing: border-box;
	float: left;
	width: 290px;	
	height: 200px;
	border: 1px solid #e1e8ed;
    background: #FFF;
    border-radius: 6px;
}

.profile_bg
{
	background: #0084B4;
	width: 290px;
	height: 95px;
	border-radius: 4px 4px 0 0;
	margin: -1px 0 0 -1px;
}

.img_name_wrapper{
	position: relative;
	height: 50px;
}

.profile_card_img_a{
	display: block;
	float: left;
	position: absolute;
	top: -25px;
	left: 5px;
}

.Profile_card_img
{
    height: 68px;
    width: 68px;
    border: 3px solid #fff;
    border-radius: 6px;
}

.profile_card_user
{
	display: block;
	position: absolute;
	left: 85px;
	top: 4px;
}

.profile_card_name
{
	display: block;
	height: 24px;
	font-size: 16px;
	font-weight: 600;
	color: black;
	line-height: 24px;
}

.profile_card_userName
{
	display: block;
	height: 19px;
	font-size: 14px;
	font-weight: 300;
	color: SlateGray;
	line-height: 19px;
}

.stats_links
{
	display: block;
	position: relative;
	list-style: none;
	padding: 0 8px;
	margin:8px 0 0 0;
}

.stats_links li
{
	display: block;
	float: left;
}

.stats_links li:nth-child(2){
	margin-left: 25px;
}

.stats_links li:nth-child(3){
	margin-left: 30px;
}

.links_text{
	display: block;
	color: DarkSlateGray;
	font-weight: 300;
	font-size: 15px;
}

.links_number_text {
	display: block;
	color: #0084B4;
	font-size: 15px;
	font-weight: 500;
}



/*************************************
profile page middle: main
**************************************/
.main
{
	box-sizing: border-box;	
	width: 590px;
	float: left;
	margin: 0 10px;
}



/*************************************
twitter message
**************************************/

.tweet {
	display: block;
	box-sizing: border-box;	
	width: 590px;
	float: left;
	background-color: #ffffff; 
	border: 1px solid #d8d8d8;
	border-radius: 6px;
	font-family: "Helvetica Neue";
	font-weight: 300;
	padding:5px 0 0 5px;
	margin-bottom: 10px;
}

.tweet_reply{
	background: #ffffff;
}

.left_photo {
	display: block;
	float: left;
	box-sizing: border-box;	
	width: 62px;
	margin-right: 20px;
	padding:7px;
}

.profile-photo {
  	display: block;
  	width: 48px;
  	height: 48px;
  	border-radius: 100%;
}

.right_text{
	display: block;
	float:left;
	width: 481px;	
	font-size: 16px;
}

.twitterer span:nth-child(2) {
	color: #343434;
	font-weight: 500;
}

.twitterer span:nth-child(2) {
	color: slateGray;
	font-weight: 300;
}

.twitterer {
	margin: 0;
	color: #343434;
	font-weight: 500;
}

.twitter_message {
	color: #595959;
	margin: 10px 0;
}

/* function links */

.function_links ul {
	list-style: none;
	margin: 0 0 5px 0;
	padding-left: 0;
}

.function_links li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

.function_links a {
	color: #2e2e2e;
	font-size: 14px;
	font-weight: 500;
	display: inline;
	color: LightSlateGray;
}

.icon-func {
	margin-right: 10px; /* for the distance between the icon and the text s*/
}

.function_links .reply-func { /* if no .function_links, it doesn't work */
	padding-left: 0;
}

/*******************************
previous and next
*********************************/
.above_pre_and_next{
	min-height: 500px;
}

.pager {
	display: block;
	width: 590px;
	margin: 0px;
	list-style: none;
	padding-left: 0px;
}

.pager li{
	display: inline-block;
	line-height: 42px;
	text-align: center;
	border-radius: 21px;
	background-color: #f9faf9;
	height: 40px;
	width: 125px;
	border: 1px solid #cccccc;
}
.pager li:first-child{
	float:left;

}
.pager li:last-child{
	float:right;
}

.pre_and_next li {
	display: block;
	border-radius: 21px;
	background-color: #f9faf9;
}

.paging {
	height: 25px;
	width: 100px;
	border: 1px solid #cccccc;
}

.prev {
	float: left;
}

.next {
	float: right;
}

.pre_and_next a {
	color: #8d8d8d;
	font-size: 14px;
	font-weight: 300;
}

.icon-previous2 {
	margin-right: 10px;
    vertical-align: text-bottom;
}

.icon-next2 {
	margin-left: 10px;
    vertical-align: text-bottom; /* to let the >> icon align with text by bottom*/
}

.pre_left_a {
	margin-left: 25px;
}



/*************************************
profile page right: people
**************************************/
.people
{
	box-sizing: border-box;
    float: left;
    width: 290px;
    height: 300px;
    border: 1px solid #e1e8ed;
    background: #FFF;
    border-radius: 6px;
}

.follow_bar{
	height: 45px;
	line-height: 45px;
}

.who_to_follow_a
{
	display: block;
	float: left;	
	font-size: 16px;
	font-weight: 500;
	color: SlateGray;
	margin: 0 20px 0 15px;
}

.view_all_a {
	display: block;
	float: left;
	height: 45px;
	font-size: 13px;
	color: #0084B4;
}

.profile_stranger_card
{
	height: 70px;
	padding-left: 15px;
}

.stranger_left_photo{
	box-sizing: border-box;
	float: left;
	width: 60px;
}

.srtanger_left_img
{
	width: 48px;
	height: 48px;
}

.stranger_right_text{
	float: left;
}

.stranger_right_text_up{
	display: block;
	height: 20px;
}

.stranger_name {
	font-size: 15px;
	color: #292f33;
	font-weight: 600;
}

.stranger_user_name {
	font-size: 14px;
	color: #8899a6;
}

.follow_add
{
	padding-right: 5px;
	color: DeepSkyBlue;
}

.follow_button{
	display: block;
	height: 25px;
	width: 80px;
	float: left;
	background-color: #f5f8fa;
	color: #292f33;
	border: 1px solid #e1e8ed;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    margin-top: 3px;
    padding-top: 4px;
}



/*************************************
who to follow page
**************************************/

.not_profile_main
{
	box-sizing: border-box;	
	width: 590px;
	margin: 0 auto;
}

.follow_card_left_photo
{
	width: 62px;
	float: left;
	margin: 10px 0 0 10px;
}

.follow_card_profile_photo{
	width: 48px;
	height: 48px;
	border-radius: 4px;
}

.follow_card_right_text{
	width: 400px;
	float: left;
}

.follow_card_user {
	margin: 10px 0 10px 0;
}

.follow_card_name {
	font-size: 15px;
	color: #292f33;
	font-weight: 600;
}

.follow_card_user_name {
	font-size: 14px;
	color: #8899a6;
}

.follow_card_signature
{
	margin: 10px 0 10px 0;
}

.follow_who {
	float: left;
}

.follow_button button {
    height: 25px;
    width: 100px;
    float: left;
    background-color: #f5f8fa;
    color: #292f33;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    margin-top: 3px;
    padding-top: 4px;
}

.follow_submit
{
	height: 30px;
	width: 100px;
	border: 1px solid #d9d8d8;
	border-radius: 4px;
	background-color: #ffffff;
	margin-top: 10px;
	padding-left: 10px;
	color: #494949;
}






/*************************************
posts
**************************************/

.posts {
	margin-top: 25px;
}

.post {
	overflow:hidden;
	background-color: #ffffff; 
	border: 1px solid #d8d8d8;
	max-width: 750px;
	border-radius: 4px;
	margin: 35px auto 0;
	margin-top: 0px;
	padding: 25px;
	font-family: "Helvetica Neue";
	font-weight: 300;
}

.post_message {
	margin-bottom: 0px;
}

.top {
	border-radius: 4px 4px 0 0;
	border-bottom: 0px;
}

.middle {
	border-radius: 0 0 0 0;
	border-bottom: 0px;
}

.last {
	border-radius: 0 0 4px 4px;
}



/*************************************
leave a message
**************************************/

.new_post{
	margin-top: 75px;
	margin-bottom: 25px;
}

.leave_a_message {
	width: 648px;
	min-height: 65px;
	margin-top: 0;
	margin-bottom: 25px;
	padding: 0;
	font-size: 16px;
}

.reply {
	width: 150px;
	height: 45px;
	background-color: #f7f7f7;
	border: 1px solid #d8d8d8;
	border-radius: 4px;
	color: #595959;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 300;
}

.from {
	padding-bottom: 0px;
}

.form textarea {
	background: #f7f7f7;
	outline: none;
	color: #595959;
	width: 648px;
	padding-top: 10px;
	padding-left: 10px;
}

::-webkit-input-placeholder {
	color: SlateGray;
	font-size: 12px;
	font-weight: 300;
}




/*******************************
SignUp form
********************************/
.content {
	overflow:hidden;
	background-color: #ffffff; 
	border: 1px solid #d8d8d8;
	max-width: 750px;
	border-radius: 4px;
	margin: 35px auto 0;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	font-family: "Helvetica Neue";
	font-weight: 300;
}

.form_title {
	height: 75px;
	line-height: 75px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 300px;
	font-size: 36px;
	color: #3b3b3b;
	font: Helvetica Neue;
	margin-bottom: 0px;
}

.register_success_notification {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	font-weight: 200;
	color: #616161;
}

.below_form_title {
	height: 65px;
	margin-left: 300px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 200;
	color: #616161;
}

.error_message {
	width: 500px;
	height: 47px;
	line-height: 47px;
	padding-left: 10px;
	border: 1px solid #00adef;
	background: #90daf9;
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	margin:0 auto 16px;
}

.form_wrapper_left_and_right {
	padding-top: 0px;
	padding-left: 100px;
	padding-right: 25px;
}

.register_form_wrapper_left_and_right{
	height: 400px;
}

.login_form_wrapper_left_and_right{
	height: 220px;
}

.left_indication_text {
	float: left;
	width: 175px;

	margin-right: 25px;
}

.user_input {
	margin: 0;
	line-height: 44px;
	margin-bottom: 18px;
	font-size: 16px;
	color: #494949;
	text-align: right;
	font-weight: 500;
}

.right_form_wrapper {
	width: 325px;
	float: left;
}

.right_form_wrapper h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: #3b3b3b;
    font-size: 36px;
    font-weight: 500;
    line-height: 75px;
}

.right_form_wrapper p {
	margin-top: 0;
	margin-bottom: 0;
	height: 65px;
	color: #616161;
	font-size: 18px;
	font-weight: 400;
}

.right_form_wrapper input[type="email"],
.right_form_wrapper input[type="password"],
.right_form_wrapper input[type="conform_password"],
.right_form_wrapper input[type="text"] {
	display: block;
	height: 40px;
	width: 320px;
	border: 1px solid #d9d8d8;
	border-radius: 4px;
	background-color: #f7f7f7;
	margin-bottom: 18px;
	padding-left: 10px;
	color: #494949;
}

.right_form_wrapper button {
	height: 44px;
	width: 148px;
	border: 1px solid #c6c5c5;
	border-radius: 4px;
	background-color: #e8e8e8;
	font-size: 16px;
	color: #808080;
	font-weight: 400;
}

.icon-reply-button {
	padding-right: 10px;
}

.pre_and_next_signUp {
	height: 42px;
	margin-top: 145px;
	margin-bottom: 80px;
}



/*
follow
*/
.follow
{
	float: right;
	margin-bottom: 10px;
}





/* 
signature
*/
.write_a_signature 
{	width: 648px;
	min-height: 65px;
	margin-top: 0;
	margin-bottom: 25px;
	padding: 0;
	font-size: 16px;
}

.no_tweet
{
	margin: 20px auto 0;
	width: 500px;
	height: 30px;
	border: 1px solid #0084B4;
	border-radius: 4px;
	line-height: 30px;
	padding-left: 5px;
	background: white;
}

.particulars
{
	width: 15%;
	margin-left: 30px;
	float: left;
}

.particulars_photo
{
	width: 75px;
}

.particulars_name
{
	display: block;
}

.particulars_user_name
{
	display: block;
}

.persons
{
	width: 15%;
	float: right;
	margin-right: 30px;
}

.below_banner
{
	background: blue;
	height: 30px;
}

.below_banner_links
{
	display: inline-block;
}

.tweet_reply
{
	background: #E0E0E0;
}

.reply_form
{
	border: 1px solid red;
    border-radius: 5px;
    width: 646px;
    height: 40px;
}

/* JavaScript CSS */
.ProfileSettings{
	position: absolute;
	top: 30px;
	left: 1090px;
	width: 120px;
	height: 30px;
	font-size: 13px;
	line-height: 30px;
	background: #404040;
	color: white;
	font-weight: 300;
	text-align: center;
	border-radius: 4px;
}

/* for the global dropdown list */
.globalList {
	width: 140px;
	height: 120px;
	position: absolute;
	box-sizing: border-box;
	top: 35px;
	left: 1050px;
	background: white;
	border: 1px solid #d8d8d8;
	list-style: none;
	padding-left: 0px;
	border-radius: 6px;
}

.dropdownProfile{
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	border-bottom: 1px solid #d8d8d8;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
}

.dropdownProfile a{
	color: SlateGray;
	font-size: 12px;
	font-weight: 400;
}

.dropdownSignature{
	box-sizing: border-box;
	height: 40px;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: 1px solid #d8d8d8;
}

.dropdownSignature a{
	color: SlateGray;
	font-size: 12px;
	font-weight: 400;
}

.dropdownLogout{
	box-sizing: border-box;
	height: 38px;
    line-height: 38px;
    padding-left: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dropdownLogout a{
	color: SlateGray;
	font-size: 12px;
	font-weight: 400;
}



/***************
login page
****************/
.about{
	margin-left: 375px;
	line-height: 46px;
	float: left;
	color: #2e2e2e;
	margin-right: 100px;
}

.quill-login{
	margin-right: 10px;
}

.login_nav{
	float: left;
}

.login_nav a {
	color: #2e2e2e;
}

.login_nav li:nth-child(1){
	margin-right: 60px;
}

.login_nav li{
	display: inline-block;
}

.icon{
	margin-right: 5px;
}





